* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cartItemsDiv {
  width: 80vw;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  justify-content: space-evenly;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}