* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50vw;
  margin: auto;
  padding-top: 10px;
}

/* Media Queries for different screens to keep flex nice */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

  .container {
    width: 100vw;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 100vw;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 100vw;
  }
}